{% extends 'appEncuesta/base.html' %}
{% load staticfiles %}
{% block content %}
<script type="text/javascript">
</script>
    <div class="ym-wrapper">
      <div class="ym-wbox">
        <h2>Administrar Encuesta</h2>
        <p id="seleccionar">Seleccione la encuesta a administrar:</p>
        <select name="encuestas" id="encuestas">
          {% for encuestas in encuestas %}
            <option value="{{ encuestas.idEncuesta }}"> {{ encuestas.nombreEncuesta }}</option>
          {% endfor %}
        </select>
        <br>
        <br>
        <div class="container">
          <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#home">Agregar Pregunta</a></li>
            <li><a data-toggle="tab" href="#menu1">Editar Pregunta</a></li>
            <li><a data-toggle="tab" href="#menu2">Eliminar Pregunta</a></li>
          </ul>

          <div class="tab-content">
            <div id="home" class="tab-pane fade in active">
              <h3>Ingrese una nueva pregunta:</h3>
              <form action="" method="post" class="ym-form" id="guardarPreguntaForm">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="hidden" name="sbmName" value="sbmGuardarPregunta">
                <button id="sbmGuardarPregunta">Guardar</button>
              </form>
              <div id="mensajeResultado">Mensaje:</div>
              <div class="container oculto" id="contenedorTipoRespuesta">
                <ul class="nav nav-tabs">
                  <li><a data-toggle="tab" href="#home2">Ingrese las opciones de respuesta para la pregunta:</a></li>
                </ul>
                <div class="tab-content">
                  <div id="home2" class="tab-pane fade">
                    <h3>Opción Múltiple</h3>
                      <form class="ym-form" action="" method="post" id="formOpcionMultiple">
                      {% csrf_token %}
                        <p>Ingrese el número de opciones:</p>
                        <div class="ym-grid">
                          <div class="ym-grid ym-g25">
                            <input type="text" name="numOpciones" id="numOpciones" value="">    
                            <input type="button" name="generarOpciones" id="generarOpciones" value="Generar">
                          </div>
                          <div id="opciones" class="ym-grid ym15"></div>
                        </div>
                        <input type="hidden" name="sbmName2" value="sbmGuardarRespuesta">
                      </form>
                      <div id="mensajeResultado3">Mensaje:</div>
                  </div>
                </div>
              </div>
            </div>
            <div id="menu1" class="tab-pane fade">
              <h3>Seleccione una pregunta</h3>
              <table>
                <tr>
                  <td>ID</td>
                  <td>Nombre</td>
                  <td>Numero Pregunta</td>
                  <td>Respuestas</td>
                  <td>Encuesta</td>
                </tr>
                {% for preguntas in preguntas %}
                  <tr class="clickable-row" onclick="return popitup('/encuesta/editarPregunta/{{ preguntas.idPregunta }}')">
                    <td>{{ preguntas.idPregunta }}</td>
                    <td>{{ preguntas.nombrePregunta }}</td>
                    <td>{{ preguntas.numeroPregunta }}</td>
                    <td>
                      <table>
                      <tr>
                        <td>Enunciado Respuesta</td>
                        <td>Numero Respuesta</td>
                      </tr>
                      {% for respuesta in respuestas %}
                        <tr>
                        {% if preguntas.idPregunta == respuesta.idPregunta_id %}
                          <td>{{ respuesta.nombreRespuesta }}</td>
                          <td>{{ respuesta.numeroRespuesta }}</td>
                        {% endif %}
                        </tr>
                      {% endfor %}
                      </table>
                    </td>
                    <td>{{ preguntas.idEncuesta }}</td>
                  </tr>
                {% endfor %}
              </table>
            </div>
            <div id="menu2" class="tab-pane fade">
              <h3>Seleccione una pregunta</h3>
              <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock content %}
