{% extends 'appEncuesta/base.html' %}
{% load staticfiles %}
{% block content %}
    <div class="ym-wrapper">
      <div class="ym-wbox">
            <div class="ym-grid">
      			<div class="ym-g60 ym-gl">
			        <div class="ym-gbox">
			          <!-- content -->
       			        <img src="{% static 'img/opinas.jpg' %}" alt="Opinion">
       			        <h3>Inicio de Sesión</h3>
			        </div>
      			</div>
			     <div class="ym-g40 ym-gr">
			        <div class="ym-gbox">
                  <form id="form">{% csrf_token %}
                       {{ form.as_p }}
                    </form>
			        </div>
			     </div>
   			</div>
      </div>
    </div>
{% endblock content %}