{% load staticfiles %}
{% block content %}
<head>
  <meta charset="UTF-8">
  <title>SIREMOP/Acceso</title>
  <link rel="stylesheet" href="{% static 'css/base.css' %}">
  <link rel="stylesheet" href="{% static 'css/gray-theme.css' %}">
  <link rel="stylesheet" href="{% static 'css/screen-layout.css' %}">
  <link rel="stylesheet" href="{% static 'css/typography.css' %}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script type="text/javascript" src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/scripts.js' %}"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
    <div class="ym-wrapper">
      <div class="ym-wbox">
          <div class="ym-grid">
      			<div class="ym-g33">
			        <div class="ym-gbox">
			          <!-- content -->
       			        <img src="{% static 'img/opinas.jpg' %}" alt="Opinion">
       			        <h3>Inicio de Sesión</h3>
                    <form class="ym-form" id="form" method="post">{% csrf_token %}
                       <table>
                         <tr>
                           <td><label>Usuario:</label></td>
                           <td><input class="ym-text" type="text" name="username"></td>
                         </tr>
                         <tr>
                           <td><label>Contraseña:</label></td>
                           <td><input class="ym-text" type="password" name="password"></td>
                         </tr>
                         <tr>
                           <td><input type="submit" name="enviar" value="Ingresar"></td>
                         </tr>
                       </table>
                    </form>
			        </div>
      			</div>
   			</div>
      </div>
    </div>
{% endblock content %}